.mat-mdc-card{
    background-color: #ffff;
    padding: 15px 10px 5px;
    --mat-card-title-text-line-height: 32px;
    --mat-card-title-text-size: 12px;
    --mdc-elevated-card-container-shape: 10px;
    --mdc-elevated-card-container-elevation: 3px 3px 5px 3px rgba(0, 0, 0, 0.2)
}

.example-card {
    max-width: 800px;
    margin: 15px;
  }


.example-icon {
    padding: 0 14px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }

  

.mat-mdc-button:not(:disabled) {
  color: #ff0000
}