
<!-- Header -->
<p>
  <mat-toolbar color="primary">
    <span>Angular Test</span>
    <span class="example-spacer"></span>
    <span class="login" (click)="redirectToLogin()">Login</span>
      <button>
        <mat-icon matBadge="{{cartCount}}" matBadgeColor="warn" (click)="redirectToKart()">shop</mat-icon>
      </button> 
  </mat-toolbar>
</p>

<!-- Card Content -->
<div class="container">
    <mat-grid-list cols="4">
      <ng-container *ngFor="let product of products"> 
        <mat-grid-tile>
          <mat-card class="example-card">
            <img mat-card-image src="{{getImageUrl(product)}}" alt="">

            <mat-card-header>
              <mat-card-title>{{product.nombre}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p class="precio">${{product.precio}}</p>
            </mat-card-content>
            <mat-card-actions align="end">
              <button mat-button (click)="agregarProductoAlCarrito(product)">Agregar</button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
      </ng-container>
    </mat-grid-list>
</div>

