
<!-- Header -->
<!-- <p>
  <mat-toolbar color="primary">
    <span>Compra Gamer</span>
    <span class="example-spacer"></span>
    <span class="login" (click)="redirectToLogin()">Login</span>
      <button>
        <mat-icon matBadge="{{cartCount}}" matBadgeColor="warn" (click)="redirectToKart()">shop</mat-icon>
      </button> 
  </mat-toolbar>
</p> -->
<app-header></app-header>
<br>
<div class="container-fluid">
  <button>
    <mat-icon matBadge="{{cartCount}}" matBadgeColor="warn" (click)="redirectToKart()">shop</mat-icon>
  </button> 
</div><br>


<!-- Card Content -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-3 col-md-4 col-sm-6 pb-5" *ngFor="let product of products">
        <div class="card" style="width: 15rem;">
          <img [src]="getImageUrl(product)" class="card-img-top">
          <div class="card-body">
            <h3 class="card-title">{{product.nombre}}</h3>
            <h5 class="card-title">{{product.subcategory_nombre}}</h5>
            <h4 class="card-text">$ {{product.precio}}</h4>
            <a class="btn btn-danger" (click)="agregarProductoAlCarrito(product)">Agregar</a>          
          </div>
        </div>
    </div>
  </div>
</div>
