.card {
  /* Aseguramos que todas las tarjetas tengan la misma altura */
  height: 100%;
}

.card .card-img-top {
  /* Establecemos el tamaño de las imágenes dentro de las tarjetas */
  width: 100%;
 /* Ajusta el tamaño de la imagen según tu preferencia */
  object-fit: cover; /* Hace que la imagen ocupe todo el espacio sin distorsionarse */
  padding: 5vh; /* Agregamos un margen inferior a la imagen */
}