<div class="container-fluid">


  <div class="card" style="width: 18rem;">
    <img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2021/12/minecraft-2575225.jpg?tf=3840x" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-danger">Agregar</a>
    </div>
  </div>


</div>

<!-- https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2021/12/minecraft-2575225.jpg?tf=3840x -->